body {
  font-family: 'Quicksand', sans-serif;
  font-size: 22px;
  
  color: #557788;
}

main {
  padding: 30px;
}
h1{
  color: #6644aa;
  font-weight: bold;
  font-family: 'Lobster Two', cursive;
}

hr {
  width: 50%;
  margin-left: 0;
}